body {
    margin: 0;
    font-family: "Courier New", monospace;
    background: #000000 ;
    color: gray;
}

header {
    text-align: center;
    color: #00ff00 ;
    padding: 80px 20px;
}

h1 {
    font-size: 3rem;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

main a {
    color: #00ff00;        /* bright terminal green */
    text-decoration: none;  /* remove underline */
    transition: 0.2s;
}

main a:hover {
    text-decoration: underline; /* optional hover effect */
}
