body {
    margin: 0;
    font-family: "Courier New", monospace;
    background: linear-gradient(135deg, #0f0f0f, #FC03F9);
    color: white;
}

header {
    text-align: center;
    color: FC03F9;
    padding: 80px 20px;
}

h1 {
    font-size: 3rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: rgba(0,0,0,0.4);
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #FC03F9;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 40px;
}

.card {
    background: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
}
